---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Friary Member's Section";
---

<BaseLayout pageTitle={pageTitle}>
	<div>
		<h1>Welcome to the {pageTitle}</h1>
		<p>
			Please be certain to read ALL the documents within every section to
			which you have access.
		</p>
		<p><b>Degree System Overview:</b></p>
		<ul>
			<li>The Grandmaster appoints a Dean of the College of Seven.</li>
			<li>
				The Dean of the College of Seven appoints IV&deg; members to
				serve on the College of Seven.
			</li>
			<li>
				The College of Seven is the only body which may confer the
				IV&deg; Initiation Rite.
			</li>
			<li>
				A member of the IV&deg; may confer the I&deg;, II&deg; &amp;
				III&deg; degree Initiations, and has access to all rituals with
				the exception of those pertaining solely to the College of Seven
				and the Grandmaster.
			</li>
			<li>
				A member of the III&deg; may confer the I&deg; and II&deg;
				degree Initiations.
			</li>
			<li>A member of the II&deg; may confer the I&deg; Initiation.</li>
		</ul>
		<p>
			Initiates may confer any degree for which they are authorized upon
			&lt;<strong>any person of their choosing</strong>&gt;. The Grand
			Lodge will not dictate to whom, or under what conditions you may
			pass on the Initiation. Be warned however, that as each Initiator
			will share in the glory of one of their Candidate's achievements...
			so too will they share the shame for their failures. Initiates are
			cautioned therefore to be most particular and discerning in their
			judgment.
		</p>
		<p>Initiations must be given in person.</p>
		<p>
			Initiates are encouraged to make or procure their own materials for
			the enactment of the Initiations, though if they are unable, certain
			items will be made available by the Grand Lodge for a modest fee to
			cover production and mailing.
		</p>
		<p>
			After an Initiate has conferred an Initiation- notification MUST be
			sent to the Grand Lodge with the following information:
		</p>
		<ul class="list-none">
			<li>Name of Candidate:</li>
			<li>Contact Address &amp; phone number of the Candidate:</li>
			<li>Email Address (if any) of the Candidate:</li>
			<li>Degree Conferred:</li>
			<li>Date of Conferral:</li>
			<li>Name and Degree of Initiator:</li>
		</ul>
		<p>
			The new Initiate should also contact Grand Lodge as soon as
			possible, in order to establish Intranet access.
		</p>
	</div>
</BaseLayout>
