---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout>
    <h1>Special I&deg; Reading List. </h1>
    <br />
    Click on the Book to order.<br />
    <br />
    <table width="90%" cellspacing="2" cellpadding="2" align="center">
      <tr >
        <td><p><a href="http://www.amazon.com/exec/obidos/ASIN/1567181368/priorybapheme-20"><img src="../images/covers/1567181368.01.TZZZZZZZ.jpg" alt="cover"   width="63" height="90"  /></a><b>Self-Initiation into the Golden Dawn Tradition</b><br />
            by Chic Cicero<br />
          </p></td>
        <td><p><a href="http://www.amazon.com/exec/obidos/ASIN/1578632080/priorybapheme-20"><img src="../images/covers/1578632080.01.TZZZZZZZ.jpg" alt="cover"   width="60" height="90"  /></a><b>Ogdoadic Magick </b><br />
            by Norman R. Kraft <br />
          </p></td>
      </tr>
      <tr >
        <td><p><a href="http://www.amazon.com/exec/obidos/ASIN/1885928122/priorybapheme-20">Initiation into Hermetics</a><br />
            by Franz Bardon <br />
          </p></td>
        <td><p><a href="http://www.amazon.com/exec/obidos/ASIN/0875423248/priorybapheme-20"><img src="../images/covers/0875423248.01.TZZZZZZZ.jpg" alt="cover"   width="59" height="90"  /></a><b>Modern Magick</b><br />
            by Donald Michael Kraig, Martin Cannon (Illustrator)</p></td>
      </tr>
      <tr >
        <td><p><a href="http://www.amazon.com/exec/obidos/ASIN/0785811931/priorybapheme-20"><img src="../images/covers/0785811931.01.TZZZZZZZ.jpg" alt="cover"   width="60" height="90"  /></a><b>Foundations of High Magick</b><br />
            by Melita Denning, Osborne Phillips <br />
          </p></td>
        <td><p><a href="http://www.amazon.com/exec/obidos/ASIN/1567181325/priorybapheme-20"><img src="../images/covers/1567181325.01.TZZZZZZZ.jpg" alt="cover"   width="60" height="90"  /></a><b>The Tree of Life</b><br />
            by Israel Regardie, et al <br />
          </p></td>
      </tr>
      <tr >
        <td><p><a href="http://www.amazon.com/exec/obidos/ASIN/087728489X/priorybapheme-20">The One Year Manual : Formerly Twelve Steps to Spiritual Enlightenment</a><br />
            by Israel Regardie </p></td>
        <td><p><a href="http://www.amazon.com/exec/obidos/ASIN/156184117X/priorybapheme-20"><img src="../images/covers/156184117X.01.TZZZZZZZ.jpg" alt="cover"   width="57" height="90"  /></a><b>Condensed Chaos</b><br />
            by Phil Hine</p></td>
      </tr>
      <tr >
        <td><p><a href="http://www.amazon.com/exec/obidos/ASIN/096548811X/priorybapheme-20"><img src="../images/covers/096548811X.01.TZZZZZZZ.jpg" alt="cover"   width="67" height="90"  /></a><b>The Book of Solomon's Magick </b><br />
            by Carroll &quot;Poke&quot; Runyon <br />
          </p></td>
        <td><p><a href="http://www.amazon.com/exec/obidos/ASIN/0965083969/priorybapheme-20"><img src="../images/covers/0965083969.01.TZZZZZZZ.jpg" alt="cover"   width="58" height="90"  /></a><b>Occult Exercises and Practices</b><br />
            by Gareth Knight</p></td>
      </tr>
      <tr >
        <td><p><a href="http://www.amazon.com/exec/obidos/ASIN/0877288615/priorybapheme-20">The Secret Tradition in Arthurian Legend</a><br />
            by Gareth Knight </p></td>
        <td><p><a href="http://www.amazon.com/exec/obidos/ASIN/1561840297/priorybapheme-20"><img src="../images/covers/1561840297.01.TZZZZZZZ.jpg" alt="cover"   width="57" height="90"  /></a><b>Enochian World of Aleister Crowley</b><br />
            by Aleister Crowley, Christopher Hyatt, Ph.D, Lon Milo DuQuette</p></td>
      </tr>
      <tr >
        <td><p><a href="http://www.amazon.com/exec/obidos/ASIN/1567183131/priorybapheme-20"><img src="../images/covers/1567183131.01.TZZZZZZZ.jpg" alt="cover"   width="60" height="90"  /></a><b>Circles of Power</b><br />
            by John Michael Greer</p>
        <p>&nbsp;</p></td>
        <td><p><a href="http://www.amazon.com/exec/obidos/ASIN/0875421938/priorybapheme-20"><img src="../images/covers/0875421938.01.TZZZZZZZ.jpg" alt="cover"   width="60" height="90"  /></a><b>Planetary Magick</b><br />
            by Melita Denning, Osborne Phillips<br />
          </p>
          <p><br />
          </p></td>
      </tr>
    </table>

</BaseLayout>