---

---

<div class="nav-links">
    <a href="/">Home</a>
    <a href="/initiate">Friar Initiate I째</a>
    <a href="/FAMin">Friar Adeptus Minor II째 Section</a>
    <a href="/FAMaj">Friar Adeptus Major III째 Section</a>
    <a href="MagTemp.astro">Magister Templi IV째 Section</a>
</div>
